@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Host Grotesk", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  border: none;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 20px;
  border: 3px solid #1f1f1f;
}


.container {
  @apply w-screen h-auto p-3 flex flex-col gap-3;
  padding: 0 50px 0 40px;
}


/* Header  */
.header {
  @apply w-full text-sm grid;
  font-weight: 800;
  /* padding: 0 30px 0 30px; */
  grid-template-columns: 1fr auto;
}

.brand {
  @apply flex items-center text-xl;
  letter-spacing: 2px
}

.right-header {
  @apply flex gap-4 items-center;
}

.search {
  @apply flex p-2 rounded-xl gap-2 items-center;
}

.search .icons {
  height: 20px;
}

.menu{
  display: none;
}

.search-input {
  @apply w-40 rounded-xl;
  padding: 5px 10px 5px 10px;
  border: 1px solid grey;
  text-decoration: none;
  font-weight: 100;
}

.icons {
  height: 25px;
  cursor: pointer;
}

/* Breadcrumps navigation  */
.nav {
  color: grey;
  /* padding: 0 30px 0 30px; */
  transition: 0.2s;
}

.active-nav {
  color: black;
}

.inactive-nav:hover {
  color: black;
}

/* Details Section  */
.details {
  @apply grid gap-12 w-full;
  height: 80vh;
  padding: 10px 0px 0 0px;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 50px 0;
}

/* Image section  */
.image-section {
  @apply flex flex-col gap-4 items-center justify-center;
}

.main-image {
  @apply flex items-center justify-center;
}

.main-image img {
  height: 50vh;
  /* filter: drop-shadow(0 0 5px grey); */
  border: 1px solid black;
  object-fit: cover
}

.sub-image {
  @apply grid gap-4;
  grid-template-columns: repeat(5, 1fr);
}

.sub-image img {
  cursor: pointer;
  transition: 0.2s;
  /* border: 1px solid black; */
  min-height: 100%;
  min-width: 100%;;
}

.active-image {
  scale: 1.1;
}

/* Text section  */
.text-section {
  @apply flex flex-col gap-7 justify-center;
}

.product-name {
  @apply text-4xl font-bold;
  line-height: 50px
}

.price-rating {
  @apply grid grid-cols-2;
  padding: 5px 0 0 0;
}

.price {
  @apply flex gap-2;
}

.rating {
  @apply flex gap-2 items-center;
}

.gray {
  color: gray;
}

.color-section {
  @apply flex flex-col gap-2;
}

.color {
  @apply h-8 w-20 rounded-xl;
  cursor: pointer;
}

.color-list {
  @apply flex gap-2
}

.size-list {
  @apply flex gap-3;
}

.size-list > * {
  @apply w-full rounded-lg flex justify-center items-center h-7;
  border: 1px solid black;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    @apply bg-black text-white;
  }
}

.active-size {
  @apply bg-black text-white;
}

.order-section {
  @apply w-full grid grid-cols-2 gap-3;
}

.order-section > * {
  @apply flex items-center justify-center rounded-lg h-9;
  transition: 0.2s;
  border: 1px solid black;
  cursor: pointer;
}

.add-cart {
  @apply bg-black text-white;
  &:hover {
    @apply text-black bg-white;
  }
}

.checkout:hover {
  @apply bg-black text-white;
}

.suggestion {
  @apply flex w-full flex-col gap-4;
  /* padding: 0 30px 0 30px; */
  margin: 50px 0 50px 0;
}

.suggestion-texts {
  @apply grid grid-cols-2 w-full gap-4
}

.suggestion-products {
  @apply grid gap-5;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.item {
  @apply flex flex-col;
  transition: 0.2s;
  &:hover {
    scale: 1.1;
  }
}

.item-image {
  @apply h-72 ;
  object-fit: cover;
}

.reviews {
  @apply flex flex-col w-full gap-5;
  margin: 50px 0 50px 0;
}

.review-ratings {
  @apply grid gap-5 p-4;
  margin: 20px 0 0 0;
  grid-template-columns: 2fr 3fr;
  border: 0.5px dotted gray;
}

.rating-image { 
  height: 75px;
}

.review-graph {
  @apply grid gap-3;
  grid-template-columns: auto 1fr;
}

.rating-num {
  @apply  text-sm flex items-center justify-center; 
}

.graph-line {
  @apply rounded-xl bg-black h-3 flex justify-center items-center
}

.review-main {
  @apply grid gap-5;
  height: 600px;;
  grid-template-columns: 1fr 3fr;
}

.filter-icon {
  display: none;
}

.review-filter {
  border: 0.5px dotted gray;
}

.review-users {
  border: 0.5px dotted gray;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 600px;
}

.dotted-margin {
  border-bottom: 0.5px dotted gray;
  width: 100%;
}

@media only screen and (max-width: 330px) {

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    padding:  10px 10px 10px 10px;
    /* padding: 0; */
  }

  .brand {
    @apply text-lg
  }

  .search, .cart, .account {
    display: none;
  }

  .menu {
    @apply h-5;
    display: block;
  }

  .details {
    height: auto;
    grid-template-columns: 1fr;
    padding: 10px 0px 0 0 ;
  }

  .color {
    @apply w-16;
  }

  .order-section > * {
    height: auto;
    padding: 5px 2px 5px 2px ;
  }

  .rating {
    justify-content: end;
  }
  
  .suggestion-texts {
    grid-template-columns: 1fr auto;
  }

  .item:hover {
    scale: 1.0;
  }

  .item-image {
    object-fit: contain;
  }

  .item-name {
    @apply text-2xl
  }

  .item-price, .item-company {
    @apply text-lg
  }

  .review-ratings {
    grid-template-columns: auto 2fr;
  }

  .rating-image {
    height: 40px;
  }

  .rating-total span {
    @apply text-4xl;
  }

  .review-graph {
    @apply gap-2
  }

  .graph-line {
    @apply h-2
  }

  .review-main {
    @apply flex
  }

  .review-filter {
    display: none;
  }

  .review-header {
    grid-template-columns: 1fr auto;
  }

  .filter-icon {
    display: block;
    margin: 0 10px 0 0;
  }
}

@media only screen and (min-width: 330px) and (max-width: 365px) {

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    padding:  10px 20px 10px 20px;
    /* padding: 0; */
  }

  .search, .cart, .account {
    display: none;
  }

  .menu {
    display: block;
  }

  .details {
    height: auto;
    grid-template-columns: 1fr;
  }

  .color {
    @apply w-16
  }

  .order-section > * {
    height: auto;
    padding: 5px 2px 5px 2px ;
  }

  .rating {
    justify-content: end;
  }
  
  .suggestion-texts {
    grid-template-columns: 1fr auto;
  }

  .item:hover {
    scale: 1.0;
  }

  .item-image {
    object-fit: contain;
  }

  .item-name {
    @apply text-2xl
  }

  .item-price, .item-company {
    @apply text-lg
  }

  .review-ratings {
    grid-template-columns: auto 2fr;
  }

  .rating-image {
    height: 40px;
  }

  .rating-total span {
    @apply text-4xl;
  }

  .review-graph {
    @apply gap-2
  }

  .graph-line {
    @apply h-2
  }

  .review-main {
    @apply flex
  }

  .review-filter {
    display: none;
  }

  .review-header {
    grid-template-columns: 1fr auto;
  }

  .filter-icon {
    display: block;
    margin: 0 10px 0 0;
  }
}

@media only screen and (min-width: 365px) and (max-width: 400px) {

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    padding:  10px 20px 10px 20px;
  }

  .search, .cart, .account {
    display: none;
  }

  .menu {
    display: block;
  }

  .details {
    height: auto;
    grid-template-columns: 1fr;
  }

  .order-section > * {
    height: auto;
    padding: 5px 2px 5px 2px ;
  }

  .rating {
    justify-content: end;
  }
  
  .suggestion-texts {
    grid-template-columns: 1fr auto;
  }

  .item:hover {
    scale: 1.0;
  }


  .item-image {
    object-fit: contain;
  }

  .item-name {
    @apply text-2xl
  }

  .item-price, .item-company {
    @apply text-lg
  }

  .review-ratings {
    grid-template-columns: auto 2fr;
  }

  .rating-image {
    height: 40px;
  }

  .rating-total span {
    @apply text-4xl;
  }

  .review-graph {
    @apply gap-2
  }

  .graph-line {
    @apply h-2
  }

  .review-main {
    @apply flex
  }

  .review-filter {
    display: none;
  }

  .review-header {
    grid-template-columns: 1fr auto;
  }

  .filter-icon {
    display: block;
    margin: 0 10px 0 0;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    padding:  10px 20px 10px 20px;
  }

  .search, .cart, .account {
    display: none;
  }

  .menu {
    display: block;
  }

  .details {
    height: auto;
    grid-template-columns: 1fr;
  }

  .order-section > * {
    height: auto;
    padding: 5px 2px 5px 2px ;
  }

  .rating {
    justify-content: end;
  }
  
  .suggestion-texts {
    grid-template-columns: 1fr auto;
  }

  .item:hover {
    scale: 1.0;
  }

  .item-image {
    object-fit: contain;
  }

  .item-name {
    @apply text-2xl
  }

  .item-price, .item-company {
    @apply text-lg
  }

  .review-ratings {
    grid-template-columns: auto 2fr;
  }

  .rating-image {
    height: 40px;
  }

  .rating-total span {
    @apply text-4xl;
  }

  .review-graph {
    @apply gap-2
  }

  .graph-line {
    @apply h-2
  }

  .review-main {
    @apply flex
  }

  .review-filter {
    display: none;
  }

  .review-header {
    grid-template-columns: 1fr auto;
  }

  .filter-icon {
    display: block;
    margin: 0 10px 0 0;
  }
}