@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Host Grotesk", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  @apply w-screen h-auto p-3 flex flex-col gap-3;
}


/* Header  */
.header {
  @apply w-full text-sm grid;
  padding: 0 30px 0 30px;
  font-weight: 800;
  grid-template-columns: 1fr auto;
}

.brand {
  @apply flex items-center text-xl;
  letter-spacing: 2px
}

.right-header {
  @apply flex gap-4 items-center;
}

.search {
  @apply flex p-2 rounded-xl gap-2 items-center;
}

.search .icons {
  height: 20px;
}

.search-input {
  @apply w-40 rounded-xl;
  padding: 5px 10px 5px 10px;
  border: 1px solid grey;
  text-decoration: none;
  font-weight: 100;
}

.icons {
  height: 25px;
  cursor: pointer;
}

/* Breadcrumps navigation  */
.nav {
  color: grey;
  padding: 0 30px 0 30px;
  transition: 0.2s;
}

.active-nav {
  color: black;
}

.inactive-nav:hover {
  color: black;
}

/* Details Section  */
.details {
  @apply grid gap-12 w-full;
  height: 80vh;
  padding: 10px 30px 0 30px;
  grid-template-columns: 1fr 1fr;
}

/* Image section  */
.image-section {
  @apply flex flex-col gap-4 items-center justify-center;
}

.main-image {
  @apply flex items-center justify-center;
}

.main-image img {
  height: 50vh;
  /* filter: drop-shadow(0 0 5px grey); */
  border: 1px solid black;
}

.sub-image {
  @apply grid gap-4;
  grid-template-columns: repeat(5, 1fr);
}

.sub-image img {
  cursor: pointer;
  transition: 0.2s;
  /* border: 1px solid black; */
  min-height: 100%;
  min-width: 100%;;
}

.active-image {
  scale: 1.1;
}

/* Text section  */
.text-section {
  @apply flex flex-col gap-7 justify-center;
}

.product-name {
  @apply text-4xl font-bold;
}

.price-rating {
  @apply grid grid-cols-2;
  padding: 5px 0 0 0;
}

.price {
  @apply flex gap-2;
}

.rating {
  @apply flex gap-2 items-center;
}

.gray {
  color: gray;
}

.color-section {
  @apply flex flex-col gap-2;
}

.color {
  @apply h-8 w-20 rounded-xl;
  cursor: pointer;
}

.color-list {
  @apply flex gap-2
}

.size-list {
  @apply flex gap-3;
}

.size-list > * {
  @apply w-full rounded-lg flex justify-center items-center h-7;
  border: 1px solid black;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    @apply bg-black text-white;
  }
}

.active-size {
  @apply bg-black text-white;
}

.order-section {
  @apply w-full grid grid-cols-2 gap-3;
}

.order-section > * {
  @apply flex items-center justify-center rounded-lg h-9;
  transition: 0.2s;
  border: 1px solid black;
  cursor: pointer;
}

.add-cart {
  @apply bg-black text-white;
  &:hover {
    @apply text-black bg-white;
  }
}

.checkout:hover {
  @apply bg-black text-white;
}